@charset "UTF-8";

.y-dialog {
    background-color: rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    position: absolute;
    z-index: 9998;
    width: 100%;
    height: 4123px;
    top: 0px;
    left: 0px;
    opacity: 0.7;
}

.y-region {
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    z-index: 99999;
    width: 80%;
    max-width: 350px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.y-region-header {
    padding: 20px 20px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.y-region-title {
    color: #000;
}

.y-region-close {
    cursor: pointer;
    font-size: 16px;
    color: #909399;
}

.y-region-body {
    padding: 30px 20px 20px;
    color: #606266;
    font-size: 14px;

}

.y-region-agree {
    margin-bottom: 0.2rem;
}

.y-region-agree input {
    position: relative;
    top: 2px;
}

.y-region-item {
    padding: 3px 0;
    margin-bottom: 0.2rem;
}

.y-region-item input,
.y-region-item select {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
}

.y-region-item select {
    color: red;
    color: #606266;
    border: 1px solid #dcdfe6;

    /* 去除select框右边的三角 */
    -webkit-appearance: none;
    /* for Chrome, Safari */
    -moz-appearance: none;
    /* for Firefox */
    -ms-appearance: none;
    /* for IE10+ */
    appearance: none;
    /* for standard browsers */
}

.y-region-item select:active {
    color: blue;
}

.y-region-item input {
    width: calc(100% - 32px);
}

.y-region-error {
    color: red;
}

.y-region-footer {
    padding: 10px 20px 20px;
    text-align: right;
    display: flex;
    justify-content: end;
}

.y-region-footer button {
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    margin: 0 5px;
    cursor: pointer;
}

.y-region-footer .y-region-submit {
    background: #3a8ee6;
    border-color: #3a8ee6;
    color: #fff;
}

/* 绑定大区 end */


