@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #3e9597, #214c52);
}

.box {
    /* 分布式布局 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* 外div共同样式 */
.login {
    width: 20rem;
    height: 36rem;
    background-color: white;
    border-radius: 0.5rem;
}

/* 顶部div共同样式 */
.login_top {
    width: 20rem;
    height: 5.5rem;
    line-height: 5.5rem;
    color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
}

.login_top {
    background: #214c52;
}

.register_top {
    background: #3e9597;
}

.login_top img {
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
}

.register_top {
    padding-top: 2.5rem;
    /* 添加内间距防止div扩充 */
    box-sizing: border-box;
}

.register_top div {
    width: 5.5rem;
    height: 5.5rem;
    background: white;
    border-radius: 10rem;
    color: silver;
    font-size: 4rem;
    margin: 0 auto;
    text-align: center;
    line-height: 5.5rem;
}

.login_bottom,
.register_bottom {
    text-align: center;
}


/* 登录、注册表单共同样式 */
.login_bottom .input {
    width: 17.5rem;
    height: 2.5rem;
    margin-top: 1rem;
    padding-left: 0.6rem;
    border-radius: 0.6rem;
    border: 0.1rem solid silver;
    /* 去除表单点击后出现的边框 */
    outline: none;
    color: reb(107, 107, 107);
}

[name="account"] {
    margin-top: 1.6rem !important;
}

.login_bottom p {
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

/* 使复选框与后面文字水平对齐 */
.login_bottom p input {
    vertical-align: middle;
    /* vertical 垂直的  middle 中间 */
}

.login_bottom p span {
    margin-right: 0.5rem;
    color: #757575;
}

.login_bottom p a {
    color: #214c52;
}

.register_bottom p {
    font-size: 0.8rem;
    margin-top: 1rem;
}

.register_bottom p span {
    margin-right: 0.5rem;
    color: #757575;
}

.register_bottom p a {
    color: #214c52;
}

/* 登录、注册按钮共同样式 */
.login_bottom button,
.register_bottom button {
    width: 18rem;
    height: 2.8rem;
    color: white;
    margin-top: 2rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
}

.login_bottom button {
    background: #214c52;
    margin-top: 1.3rem;
}

.register_bottom button {
    background: #3e9597;
}

/* 密码修改成功 */

.login-success {
    margin-top: 8rem;
}

.login_top-success {
    width: 20rem;
    height: 11.2rem;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
}

.login_top-success img {
    width: 6rem;
    height: 6rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.login_top-success h2 {
    margin-top: 1rem;
}

/* 密码修改失败 */

.error-msg {
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
}

.error-msg a {
    color: #fff;
}


